*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .div-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
} */

/* .main-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#counter {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #2b8bcc;
}


.btn-container {
    display: flex;
}

button {
    padding: 8px 20px;
    margin: 15px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    background-color: #5bb2ec;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #1a70a8;
    box-shadow: 3px 4px #8bcdf8;
} */

/* body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 30px;
}


#rollBtn {
    padding: 6px 12px;
} */


.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: #49d9ec;
}

.nav-logo {
    font-size: 18px;
    font-weight: bold;
    color: #fcfcfc;
    cursor: pointer;
    margin-right: 30%;
}

.ul-container {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    width: 30%;

}

li {
    text-transform: uppercase;
    font-size: 12px;
    color: #fcfcfc;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
}

li:hover {
    color: #097e30;

}


.contact-button {
    padding: 7px 10px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #07a1cf;
    color: #ffff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.contact-button:hover {
    background-color: #097e30;
}


